<!-- Algorithm 1 Pythagorean Theorem  -->

<!-- <h1>Pythagorean Theorem</h1>

<div>
  <input type="number" [(ngModel)] = a>
  <input type="number" [(ngModel)] = b>
  <button (click) = "getpisagor">Get Result</button>
  <div>{{getpisagor()}}</div>
</div> -->


<!-- Algorithm 2 Second Degree Equation-->

<!-- <h1>Second Degree Equation</h1>

<div>
  <input type="number" [(ngModel)] = a>
  <input type="number" [(ngModel)] = b>
  <input type="number" [(ngModel)] = c>

  <button (click) = "equation()">Get Root</button>
  <div>{{equation()}}</div>
</div> -->

<!--Algorithm 3 Volume of Sphere-->

<!-- <h1>Volume of Sphere</h1>

<div>
  <input type="text" [(ngModel)] = r placeholder="enter radius">
  <button (click) = "volume()">Calculate</button>
  <div>{{volume()}}</div>
</div> -->